node_modules

/.cache
/functions/\[\[path\]\].js
/functions/\[\[path\]\].js.map
/functions/_assets/**
/public/build
.env
/test-results/
/playwright-report/
/playwright/.cache/
/app/styles/app.css
.mf/**

state.json
.DS_Store
